.calculator{
    max-width: 150px;
    align-content: center;
    height:150px;
    display: inline;
    

}

.display {
    text-align: right;
    width:130px;
    height: 10px;
    padding: 16px 8px;
    border: solid 3px black;

}

.buttons button{
 
    padding: 7px;
    width: 30px;
    height:20px;
    text-align: center;
    margin:3px;
    border: none;
    background-color: #547aa5; 
    border-radius: 5px;

}
