.calculator{
    max-width: 150px;
    max-height: 120px;
    display: inline;
    margin:auto;

}

.display {
    text-align: right;
    width:50px;
    height: 10px;
    padding: 16px 8px;
    border: solid 3px black;
    

}

.buttons button{
 
    padding: 7px;
    width: 30px;
    height:20px;
    border: 1px solid black;
    margin:3px;
    background-color: #547aa5; 
    border-radius: 5px;

}

